body {
  /* space under the navbar */
  background-color: rgb(228, 224, 238);
  font-family: 'Roboto', sans-serif;
}

.graph {
  height: 450px;
	min-width: 300px;
	max-width: 800px;

	margin: auto;
  margin-bottom: 25px;

  -webkit-box-shadow: 3px 3px 2px 0px #AAAAAA;
  -moz-box-shadow: 3px 3px 2px 0px #AAAAAA;
  box-shadow: 3px 3px 2px 0px #AAAAAA;
}

.footer {
  margin-bottom: 50px;
  color: #AAAAAA;
  text-align: center;
}

.no-icon {
  display: block;
  height: 180px;
  width: 180px;
  margin: 10px;
  background-color: #4E2A84;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  color: white;
  font-size: 1.3em;
}

.no-line {
  text-decoration: none;
}

.no-line:hover {
  text-decoration: none;
}

.no-icon:hover {
  height: 200px;
  width: 200px;
  margin: 0px;
}